<!--START-->
<h2>The App begins in the Host/Join Screen</h2>
<join-or-host></join-or-host>

<!--USER SPLITS: SIGNLE HOST AND MULTIPLE USERS-->
<h2>Based on User interaction, we result in a Single Host and Multiple Players</h2>
<h4>HOST PATH</h4>
<host-screen></host-screen>
<waiting-for-players-screen></waiting-for-players-screen>
<select-image-screen></select-image-screen>
<crop-image-screen></crop-image-screen>
<player-guess-screen></player-guess-screen>
<p>The host will judge the Player guesses, and will either confirm or reject a Player's guess.</p>
<ul>
  <li>CONFIRM: Player's score is increased.</li>
  <li>REJECT: Player's score remains the same</li>
</ul>
<h4>PLAYER PATH</h4>
<join-screen></join-screen>
<waiting-for-host-screen></waiting-for-host-screen>
<submit-guess-screen></submit-guess-screen>

<h2>After the HOST judges the Player answers the image will either be revieled or the players will have to guess again</h2>
<reveal-screen></reveal-screen>


<summary-screen></summary-screen>


